<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="top.lc951.sample14">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Sample14_1_Activity"
            android:label="@string/title_activity_sample14_1_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_2_Activity"
            android:label="@string/title_activity_sample14_2_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_3_Activity"
            android:label="@string/title_activity_sample14_3_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_4_Activity"
            android:label="@string/title_activity_sample14_4_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_5_Activity"
            android:label="@string/title_activity_sample14_5_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_6_Activity"
            android:label="@string/title_activity_sample14_6_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_5a_Activity"
            android:label="@string/title_activity_sample14_5a_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_7_Activity"
            android:label="@string/title_activity_sample14_7_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Sample14_8_Activity"
            android:label="@string/title_activity_sample14_8_"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>