*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild/cmake/debug/arm64-v8a/.ninja_deps
.externalNativeBuild/cmake/debug/arm64-v8a/.ninja_log
.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_deps
.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_log
.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/armeabi/.ninja_deps
.externalNativeBuild/cmake/debug/armeabi/.ninja_log
.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/armeabi/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/mips/.ninja_deps
.externalNativeBuild/cmake/debug/mips/.ninja_log
.externalNativeBuild/cmake/debug/mips/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/mips/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/mips64/.ninja_deps
.externalNativeBuild/cmake/debug/mips64/.ninja_log
.externalNativeBuild/cmake/debug/mips64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/mips64/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/x86/.ninja_deps
.externalNativeBuild/cmake/debug/x86/.ninja_log
.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/x86/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/debug/x86_64/.ninja_deps
.externalNativeBuild/cmake/debug/x86_64/.ninja_log
.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/armeabi/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/mips/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/mips/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/mips64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/mips64/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/x86/CMakeFiles/native-lib.dir/
.externalNativeBuild/cmake/release/x86_64/CMakeFiles/CMakeTmp/
.externalNativeBuild/cmake/release/x86_64/CMakeFiles/native-lib.dir/
libs/
src/main/res/drawable/
